<% layout('layouts/boilerplate') %> 
<!-- <!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Add Campgrounds</title>
</head>
<body> -->

      <div class="row">
            <h1 class="text-center">New Campground</h1>
            <div class="col-6 offset-3">

      <form action="/campgrounds" method="post" class="validated-form" enctype="multipart/form-data" novalidate>

            <div class="mb-3">
                  <label class="form-label" for="campground">Title</label>
                  <input class="form-control" type="text" name="campground[title]" id="campground" required>
                  <div class="valid-feedback">
                        Looks good!
                  </div>
            </div>

            <div class="mb-3">
                  <label class="form-label" for="location">Location</label>
                  <input class="form-control" type="text" name="campground[location]" id="location" required>
                  <div class="valid-feedback">
                        Looks good!
                  </div>
            </div>
            <div class="mb-3">
                  <label class="" for="image">Upload Images</label>
            </div>
            

            <div class="input-group mb-3 custom-label">
            <input type="file" class="form-control" id="image" name="image" multiple>
            
            </div>
            

            <!-- <div class="mb-3">
                  <input type="file" name="image" id="" multiple>
            </div> -->

            

            <!-- <div class="mb-3">
                  <label class="form-label" for="image">Image Url</label>
                  <input class="form-control" type="text" name="campground[image]" id="image" required>
                  <div class="valid-feedback">
                        Looks good!
                  </div>
            </div> -->

            <div class="mb-3">
                  <label for="price" class="form-label">Campground price</label>
                  <div class="input-group">
                  <span class="input-group-text" id="price-label">$</span>
                  <input type="text" id="price" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" required>
                  
                  </div>

                  <div class="valid-feedback">
                        Looks good!
                  </div>

            </div>

            

            <div class="mb-3">
                  <label class="form-label" for="description">Description</label>
                  <textarea class="form-control" type="text" name="campground[description]" id="description" required > </textarea>
                  <div class="valid-feedback">
                        Looks good!
                  </div>
            </div>

            <div class="mb-3">
                  <button class="btn btn-primary">Add campground</button>
            </div>

            
      </form>

      <footer>
            <a href="/campgrounds">All Campgrounds</a>
      </footer>
            </div>
      </div>

      
      
      
<!-- </body>
</html> -->


      